extends ./layout/index.pug
block compartircontenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/manzanas.png" class="img-fluid")
            .col-md-7 
                h1="Zacatlan de las Manzanas" 
                blockquote 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod totam corrupti quibusdam eligendi asperiores ullam ad inventore alias laudantium velit reiciendis ipsam molestias, pariatur similique doloremque fugiat modi? Eum, impedit.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint corporis non architecto adipisci impedit tempora culpa reiciendis voluptates pariatur eveniet sunt, esse asperiores. Deserunt architecto culpa nisi nam sit suscipit.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab odit pariatur quisquam, voluptatem nam sint, molestiae, minus dolor voluptatum facilis similique? Doloribus quis iste odio aliquid iusto ipsa similique assumenda!

        .lista-iconos 
            .container.mt-5.py-5.text-center 
                .row 
                    .col-md-4 
                        img(src="../img/relojFloral.png" class="img-fluid mb-4")
                        h2.mb-4 El reloj Floral 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, dicta sed et libero ex esse illo cum minus blanditiis aliquam nobis nulla laudantium? Praesentium aliquam accusantium deserunt voluptates perferendis molestiae!
                    .col-md-4 
                        img(src="img/exConventoFranciscano.png" class="img-fluid mb-4")
                        h2.mb-4 Ex Convento Franciscano 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, dicta sed et libero ex esse illo cum minus blanditiis aliquam nobis nulla laudantium? Praesentium aliquam accusantium deserunt voluptates perferendis molestiae!
                    .col-md-4 
                        img(src="img/miradorCristal.png" class="img-fluid mb-4")
                        h2.mb-4 Mirador de Cristal 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, dicta sed et libero ex esse illo cum minus blanditiis aliquam nobis nulla laudantium? Praesentium aliquam accusantium deserunt voluptates perferendis molestiae!