extends ./layout/index.pug
block compartircontenido 
    main.container.mt-5 
        
        .lista-iconos 
            .container.mt-5.py-5.text-center 
                .row 
                    .col-md-4
                    h1.mb-4 REGISTRO DE HOTELES
                    p La oferta hotelera de Puebla es amplia y variada. Hay opciones para todos los gustos, necesidades y bolsillos. En el Estado de Puebla se pueden encontrar los clásicos hospedajes de una y dos estrellas. Un poco más de comfort en hoteles 3 estrellas. Todos los servicios de lujo en los hoteles 4 estrellas y servicios exquisitos en hoteles 5 estrellas.
                    p Para quienes buscan el gusto por el detalle Puebla ofrece la elegancia y la calidez de sus Hoteles Boutique y sus casonas coloniales especialmente preparadas para brindar una estancia inolvidable.
                    p Los amantes de la naturaleza encontrarán muchas opciones de alojamiento en cabañas en Chignahuapan, Cuetzalan, Tetela de Ocampo, Zacatlán, Huauchinango, Zacapoaxtla y demás localidades.


        .container.mt-5.py-5.text-center 
            .row 
                .col-md-5 
                    img(src="img/manzanas.png" class="img-fluid")
                .col-md-7 
                    h1="Zacatlán de las manzanas" 
                    blockquote 
                    p Zacatlán, en náhuatl «zácatl», lugar donde abunda el zacate, famoso por su popular Feria de las Manzanas, es un pueblo localizado al norte del estado de Puebla, que gracias a la gran producción de este fruto se le conoce también como Zacatlán de las Manzanas.
                    p Goza de un clima mayormente templado, comúnmente con la presencia de neblina que acaricia los tejados por las mañanas y al atardecer que hace que baje la temperatura especialmente por la noche. Por lo que conviene ir preparado con una buena chaqueta.
                    p Sus calles pintorescas, sus verdes e interesantes paisajes y su rica gastronomía invitan al viajero a pasar una inolvidable estancia.
                    


        .lista-iconos 
            .container.mt-5.py-5.text-center
                h1.mb-4 Atracciones 
                .row 
                    .col-md-4
                        img(src="../img/relojFloral.png" class="img-fluid mb-4")
                        h2.mb-4 Reloj Floral 
                        p Recorrer el corazón de Zacatlán donde podremos apreciar su afamado Reloj Floral, de 5 metros de diámetro que musicaliza los paseos con un repertorio de distintas melodías y para complementar la visita, también se puede acercar hasta el Museo del Reloj, donde conocerá más de su historia y fabricación.
                    .col-md-4 
                        img(src="img/exConventoFranciscano.png" class="img-fluid mb-4")
                        h2.mb-4 Ex Convento Franciscano 
                        p Datado como uno de los primero templos cristianos de América. La Parroquia de San Pedro y San Pablo con construcción fechada en el siglo XVII y de arquitectura barroca indígena, la Iglesia del Señor de Jicolapa y el Palacio Municipal.
                    .col-md-4 
                        img(src="img/miradorCristal.png" class="img-fluid mb-4")
                        h2.mb-4 Mirador de Cristal 
                        p A escasa distancia del centro de Zacatlán se encuentra el Mirador de Cristal, desde donde los más osados podrán desafiar al vértigo acercándose para admirar la maravillosa naturaleza de éste rinconcito del Estado de Puebla.