footer.container.py-5 
    .row 
        .col-mod-6 
            nav.nav.footer.justify-content-center.justify-content-md-start 
                a.nav-link(href="/hotel") Hotel 
                a.nav-link(href="/gerente") Gerente 
                a.nav-link(href="/habitacion") Habitacion
                
        .col 
            p.text-center.text-md-right 
                | Derechos Reservados 
                span=tiempo