footer.container.py-5 
    .row 
        .col-mod-6 
            nav.nav.footer.justify-content-center.justify-content-md-start 
                <!--a.nav-link(href="/hoteles") Hoteles--> 
                <!--a.nav-link(href="/gerentes") Gerentes-->  
                <!--a.nav-link(href="/habitaciones") Habitaciones-->
                a.nav-link(href="/listagerentes") Lista Gerentes
                a.nav-link(href="/listahoteles") Lista Hoteles
                a.nav-link(href="/listahabitaciones") Lista Habitaciones

                
        .col 
            p.text-center.text-md-right 
                | Derechos Reservados 
                span=tiempo