header
    <!--div(class="navegacion")-->
    <!--div.navegacion--> 
    .navegacion
        .container 
            .row.justify-content-center.justify-content-md-center.align-items-center.py-4 
                a(href="/")
                    img(src="img/ZAC.png", width=400,height=80)
            .col-md
                nav.mt-5.mt-md-0.nav.justify-content-center.justify-content-md-around 
                    a.nav-link(href="/gerentes") Agregar Gerente
                    a.nav-link(href="/hoteles") Agregar Hotel
                    a.nav-link(href="/habitaciones") Agregar Habitacion
                    <!--a.nav-link(href="/listagerentes") Lista Gerentes-->
                    <!--a.nav-link(href="/listahabitaciones") Lista Habitaciones-->
                    <!--a.nav-link(href="/listahoteles") Lista Hoteles-->
